{:kotoba.app/id "cloud.itonami.isic-1391", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreih42n3lwjfkw55eerchiktss6rnnwqofla635zv44z6u3leag2aqy", :kotoba.app/embed-url "ipfs://bafkreih42n3lwjfkw55eerchiktss6rnnwqofla635zv44z6u3leag2aqy", :published {:archive "https://kotobase.net/ipfs/bafkreih42n3lwjfkw55eerchiktss6rnnwqofla635zv44z6u3leag2aqy", :size 72834, :put-status 201, :get-status 200, :at "2026-08-15T13:52:12.863Z"}}
